<a [routerLink]="['/blog', article.slug]" class="article-card">
  <div class="article-image-wrapper">
    @if (article.cover_image_url) {
      <img
        alt="{{ article.title }}"
        [src]="article.cover_image_url"
        class="article-image"
      >
    } @else {
      <div class="article-image-placeholder">
        <span class="placeholder-title">{{ article.title }}</span>
      </div>
    }
    <div class="overlay"></div>
  </div>

  <div class="article-content">
    <h3 class="article-title">{{ article.title }}</h3>
  </div>
</a>
