<div class="word-viewer-container" *ngIf="!loading">
  <!-- Dedica -->
  <div *ngIf="path === 'Dedica'" class="word-content center-title">
    <h2 class="word-title" style="text-align: center !important;font-weight: bold !important;">Dedica</h2>
    <p>
      Dedico questo modesto lavoro a tutti gli amici che ho conosciuto, ma ai quali non ho mai potuto rivolgere una
      parola utile, una parola che li aiutasse a riflettere su sé stessi e sul mondo intorno, per trovare un Lume che li
      guidasse nel Buio che ci avvolge.
    </p>
    <p>
      Non ho potuto — e forse non potevo — perché anch’io avevo bisogno di una parola simile. Anch’io barcollavo senza
      guida, vivevo alla giornata, senza mai rivolgermi a me stesso per cercare una via verso quella Luce che potesse
      illuminare il mio cammino."
    </p>
    <p>
      Questo modesto lavoro, insieme ad altri simili, mi ha donato un raggio di quel Lume che ora desidero possa
      raggiungere anche i miei amici.
    </p>
    <p>
      Dedico, quindi, questo modesto lavoro a tutti quegli amici: Stefano, Nicola, Stefania, Lourdes, Sergio, Mario e
      Maria, Rita, Laura, Antonio e Antonella, Giovanni e Giovanna, Roberto e Roberta, Aldo, Giacomo, Massimiliano e
      Massimo, Ugo e Paolo, Monica, Carla e Carlo, Gabriele e Gabriela, Franco, Alberto, Nunzio, Silvia, Piaggio,
      Flavio... A loro e a tanti altri che non posso elencare tutti, ma che ho amato profondamente.
    </p>
    <p>
      Dedico questo lavoro anche — e soprattutto — a due figure d’eccellenza: Hamza Roberto Piccardo e Ida Zilio-Grandi,
      la cui pazienza e profondità mi hanno permesso di redigere questa parafrasi, una traduzione libera dei significati
      del Sacro Corano. A loro, e agli esegeti contemporanei citati nell’introduzione — le cui opere ho consultato con
      costanza — va la mia sincera gratitudine.
    </p>
    <p>
      Lo dedico infine a mia moglie e alla mia famiglia, che ho troppo spesso privato delle dovute attenzioni mentre
      portavo avanti questo lavoro. Mi consola solo la speranza che Allah estenda su di loro — e su tutti coloro che mi
      hanno sostenuto — la Sua Grazia: unica vera aspirazione che mi ha motivato a non fermarmi.
    </p>
    <p>
      Chiedo ai lettori di scusare la mia insufficiente padronanza della lingua italiana. Me la fece notare una volta lo
      stesso Piccardo, suscitando in me un profondo rammarico. Tuttavia, ho deciso ugualmente di intraprendere questo
      cammino, che consiste sostanzialmente in una rielaborazione e un adattamento di traduzioni attendibili, con rari
      interventi personali.
    </p>
    <p>
      Anche se la forma linguistica è importante, specialmente in un’opera come questa, confido nella benevolenza e
      nella comprensione di chi legge. Possa Allah accettare questo sforzo e renderlo utile, seppur modesto.
    </p>
  </div>

  <!-- Introduzione -->
  <div *ngIf="path === 'Introduzione'" class="word-content">
    <h2 class="word-title" style="text-align: center !important;font-weight: bold !important;">Introduzione</h2>
    <p>

      Quanto fui felice quando, negli anni Settanta del secolo scorso, acquistai in una libreria di Firenze una
      traduzione dei significati del Sacro Corano. Dopo aver iniziato a leggere quel libro, nacque in me un desiderio
      curioso: volevo ritradurre in arabo quella traduzione italiana. Raccontai questa mia idea al mio grande maestro,
      l’orientalista Francesco Gabrieli. Mi rise in faccia — e aveva ragione: Aveva colto subito il senso più ovvio e,
      in effetti, buffo, delle mie parole. Ma ciò che intendevo in realtà era un'altra cosa: desideravo far comprendere
      agli arabi come gli italiani leggono e interpretano il nostro Libro sacro. Era, senza dubbio, un sogno. Un sogno
      che peccava anche di una certa “voracità linguistica” — un impulso che non mi ha mai abbandonato: il desiderio
      quasi irrefrenabile di tradurre tutto, ad ogni costo.
    </p>
    <p>


      Il mio desiderio celava in realtà anche una domanda, più profonda, che scoprii in seguito essere comune a tutti
      coloro che si sono cimentati nella traduzione dei significati del Sacro Corano nelle proprie lingue: è davvero
      possibile tradurre questo Libro immenso in un'altra lingua? E, soprattutto, chi ha l'autorità, la competenza e la
      sensibilità per farlo?

    </p>
    <p>

      È un grande Libro, questo Sacro Corano! "Non lo tange la falsità in niuna delle sue parti. È una rivelazione da
      parte di un Saggio, Degno di lode" (Corano 42-41).
    </p>
    <p>

      È stato rivelato in arabo, e ha accresciuto la ricchezza e i segreti di questa lingua. I suoi versetti sono
      serrati, interconnessi, vivi: ogni lettera è legata, in modo misterioso, a un numero infinito di altre lettere,
      così come ogni parola, frase e versetto si intrecciano tra loro in una trama perfetta. Il miracolo del Corano non
      risiede solo nei suoi significati — alcuni dei quali possono essere trasmessi attraverso la traduzione — ma nella
      sua stessa struttura, nella sua forma, nella sua musicalità e nel suo ritmo.

    </p>
    <p>

      “Questo è un libro dai versetti solidi, e quindi esplicati in modo chiaro e preciso, da parte di un Saggio,
      informato di tutto”. (Corano 11-1).
    </p>
    <p>

      Il Corano continua a presentarsi a noi, arabofoni e non, in una forma solenne e inimitabile. Il suo suono è
      divino, maestoso, senza eguali. Il Sacro Corano non può essere riprodotto in un'altra forma nemmeno all'interno
      della stessa lingua araba — figuriamoci se viene tradotto in una seconda lingua!
    </p>
    <p>

      Una delle testimonianze più straordinarie sul Corano venne proprio da un suo oppositore miscredente: al-Walid ibn
      al-Mughīrah. Disse: «In verità, vi è in esso una dolcezza, un fascino penetrante; è rigoglioso nella parte
      superiore, profondo e dissetante nella parte inferiore; è elevato, nessuno può sopraffarlo; e distrugge tutto ciò
      che si trova al di sotto di esso» . Eppure, al-Walid ibn al-Mughīrah cadde ben presto nel peccato più profondo
      dell’animo umano: la superbia, l’orgoglio. Tornò indietro, rinnegando quanto aveva riconosciuto, e affermò che il
      Corano era soltanto parole umane. Allora Allah lo minacciò con il più basso dei Fuochi:سقر, un Inferno ardente che
      nulla risparmia e nulla lascia.
    </p>
    <p>

      Sì, la domanda resta sempre la stessa: questo Libro sublime può davvero essere tradotto in un’altra lingua? E chi
      può assumersi un compito così grande?
    </p>
    <p>

      La risposta, unanime, è stata: No, non è possibile.
    </p>
    <p>

      Eppure, nonostante tutto ciò, molti hanno comunque intrapreso — con grande umiltà — la traduzione dei significati
      del Corano. Lo hanno fatto con estrema cautela e reverente timidezza. Timidezza nonostante la loro padronanza
      delle lingue, la profonda conoscenza dell’arabo e dei suoi segreti, e persino di numerosi aspetti della
      giurisprudenza islamica. Una timidezza dettata dalla piena consapevolezza dell’immensità del compito.
    </p>
    <p>


      La prima traduzione dei significati del Sacro Corano che lessi — e a cui ho appena accennato — fu una delle
      migliori dell’epoca. Era opera del grande orientalista Martino Mario Moreno, edita all’interno della sezione
      dedicata alla religione islamica, curata da Francesco Gabrieli, per l’autorevole Collana Religioni di una
      prestigiosa casa editrice italiana. Più tardi scoprii un’altra buona traduzione, questa volta del noto
      orientalista Alessandro Bausani, il quale, dopo un lungo approfondimento degli studi persiani, abbracciò il
      baha’ismo.
    </p>
    <p>

      Ma fino ad oggi non ho conosciuto una traduzione migliore e più sincera di quella di Hamza Roberto Picardo,
      convertitosi all'Islam e tuttora fedele predicatore in Italia e in Europa.
      Iniziando questo lavoro, ho trovato comunque altre traduzioni che ho subito utilizzato: principalmente la
      traduzione di Ida Zilio-Grandi , che mi è sembrata una traduzione buona e fedele. In seguito ho anche saputo che
      esistono molte altre traduzioni oltre a quelle menzionate . </p>
    <p>
      Sfogliando queste traduzioni, ho notato un aspetto positivo: ogni traduttore restituisce il versetto in modo
      leggermente diverso, il che suggerisce che ciascuno ha colto, in molti casi, un aspetto specifico del suo
      significato. Questa varietà non è indice di errore, ma riflette la profondità e la ricchezza semantica del testo
      coranico. D’altronde, anche nella tradizione esegetica araba, le interpretazioni non sempre coincidono e talvolta
      si contrappongono apertamente, a conferma del fatto che il Corano continua a parlare in modi molteplici a chi lo
      studia con sincerità e dedizione. </p>
    <p>
      Nel portare avanti questo lavoro, ho naturalmente dovuto ricorrere all’aiuto di diversi testi arabi affidabili di
      esegesi, commento e spiegazione del Sacro Corano. In questo percorso, un sostegno prezioso è stato il sito
      “Tanzeel”, che offre uno strumento molto utile: in una finestra laterale è possibile consultare le spiegazioni di
      ciascun versetto tratte da “Tafsir al-Jalalayn” o da “Tafsir al-Muyassar”, oppure leggere la traduzione del
      significato del versetto in numerose lingue, tra cui l’italiano, con la versione curata da Hamza Roberto Piccardo.
      Esistono molti siti che riportano la sua traduzione, ma a mio avviso il migliore resta www.sufi.it, in particolare
      per le preziose note esplicative che accompagnano il testo. </p>
    <p>
      Un altro sito che mi è stato di grande aiuto è Aldorar Alsaniyyah, così come il portale Almukhtasar (المختصر في
      التفسير), entrambi ricchi di risorse esegetiche chiare, semplificate e ben strutturate. Ho inoltre fatto largo uso
      del libro Tafsir al-Saʿdi, che avevo precedentemente riassunto in un lavoro intitolato Riassunto di Tafsir
      al-Saʿdi, oltre ad altri testi fondamentali che mi hanno sostenuto nella comprensione e nell’approfondimento dei
      versetti. Tra questi, cito in particolare Qabas min al-Qur’an al-Karim (قبس من القرآن الكريم للشيخ محمد كريّم راجح
      ) dello shaykh Muhammad Kriaem Rajeh, un'opera densa di riflessioni spirituali e linguistiche. Mi è stato anche
      consigliato, e ho trovato molto utile, il Tafsir Ibn Abbas (تفسير ابن عباس), uno dei più antichi commentari
      coranici. Inoltre, ho attinto da alcuni brevi video (o “flash”) pubblicati su YouTube dal Dr. Muhammad Fadel
      al-Samarrai, i quali propongono interpretazioni linguistiche originali e penetranti di certe espressioni, termini
      e parole del Sacro Corano. </p>
    <p>
      Le pagine seguenti presentano le sura del Corano disposte in ordine tradizionale, come tramandato nella
      consuetudine islamica. Ogni sura è numerata secondo la numerazione originale. Per ciascuna sura, vengono riportati
      quattro livelli testuali: Anzitutto, il testo arabo del versetto, copiato fedelmente dal sito “Tanzil”; In
      seguito, in blu, la traduzione italiana del significato secondo la versione di Hamza Roberto Piccardo, come
      presentata nei vari siti che riportano la sua opera; Poi, in verde, la versione proposta da Ida Zilio-Grandi;
      Infine, in nero, propongo un nuovo testo: una parafrasi e una traduzione libera, non vincolata strettamente al
      significato letterale delle parole coraniche, ma ispirata ai testi di Piccardo e Zilio-Grandi, con occasionali
      integrazioni tratte dalle loro note esplicative. In questo quarto livello, ho cercato, ove possibile, di
      aggiungere elementi interpretativi, chiarimenti e riflessioni basate sulle fonti esegetiche citate in precedenza,
      come i siti “Tanzeel”, “Aldorar Alsaniyyah”, “Almukhtasar”, e opere come Tafsir al-Saʿdi, Tafsir Ibn Abbas, e
      Qabas min al-Qur’an al-Karim. L’obiettivo principale di questa rielaborazione è offrire al lettore una
      comprensione più ampia e accessibile del versetto. </p>
    <p>
      Devo riconoscere che, sebbene questo mio lavoro abbia cercato di arricchire la traduzione accurata dei significati
      del Sacro Corano aggiungendo dettagli esplicativi tratti da fonti affidabili, esso ha talvolta finito per privarla
      di quella trascendente pienezza che avvolge i versetti coranici con una luce di assolutezza e meraviglia. Una luce
      che non si esaurisce nella contingenza storica della rivelazione, ma la oltrepassa, la trascende, per dischiudere
      significati sublimi e universali. Significati che parlano a ogni tempo e luogo, perché espressione viva di quella
      simbiosi eterna tra la terra e il cielo, tra l’essere umano e il suo Creatore, tra la realtà visibile degli eventi
      e il Disegno celeste che li abbraccia e li comprende tutti. </p>
    <p>
      “È contenuto in Fogli onorati, sublimi, purissimi”, (Corano 80/13-14) </p>
    <p>
      La mia consolazione, in tutto questo, è che il lettore ha sempre la possibilità di tornare, in ogni momento, alle
      traduzioni riportate accanto: quelle accurate e fedeli dei significati dei versetti offerte da Hamza Roberto
      Piccardo e Ida Zilio-Grandi, che restano punti di riferimento affidabili e preziosi per una comprensione più
      rigorosa e diretta del Testo Sacro. </p>
    <p>
      Va tuttavia messo in risalto che questo lavoro presenta per intero solo alcune sure, mentre di molte altre sono
      stati tradotti i significati solo di alcuni brani selezionati. Con l’aiuto di Allah, l’intenzione è quella di
      reintegrarle progressivamente in futuro, affinché l’opera possa ampliarsi e completarsi nel tempo.
    </p>



  </div>
</div>

<div *ngIf="loading" class="loading">
  <p>Loading...</p>
</div>
