.word-viewer-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  color: #222;
  font-family: "Georgia", serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}
:host ::ng-deep h2.word-title {
  display: block !important;
  width: 100% !important;
  text-align: center !important;
  margin: 0 auto 0.5em auto !important;
}
.word-title {
  font-size: 1.8rem;
   margin-bottom: 1rem;
  text-align: center !important;
  color: #2b4c7e;
  border-bottom: 2px solid #cdd8e8;
  padding-bottom: 0.5rem;
}

.word-content p {
  margin-bottom: 1rem;
  text-align: justify;
}

.loading {
  text-align: center;
  padding: 3rem;
  font-style: italic;
  color: #777;
}
